<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="http://localhost:5000/results" method="post">
        <input type="text" name="name" id="name" placeholder="Student name">
        <input type="number" name="physics" id="physics" placeholder="physics">
        <input type="number" name="chemistry" id="chemistry" placeholder="chemistry">
        <input type="number" name="maths" id="maths" placeholder="maths">
        <input type="submit" value="ok">

    </form>
</body>
</html>